go 1.27.1

use (
	./backends/learning/ai-concepts
	./backends/learning/aws-concepts
	./backends/learning/backend-concepts
	./backends/learning/database-concepts
	./backends/learning/docker-concepts
	./backends/learning/email-concepts
	./backends/learning/github-actions
	./backends/learning/graphql-concepts
	./backends/learning/grpc-concepts
	./backends/learning/http-tutorial
	./backends/learning/jobs-concepts
	./backends/learning/makefile-concepts
	./backends/learning/testing-concepts
	./dsa
	./go-concepts
)
