go 1.27

use (
	./backends/learning/backend-concepts
	./backends/learning/database-concepts
	./backends/learning/email-concepts
	./backends/learning/graphql-concepts
	./backends/learning/grpc-concepts
	./backends/learning/http-tutorial
	./backends/learning/jobs-concepts
	./backends/learning/testing-concepts
	./dsa
	./go-concepts
)
